
/*
<body>
<div class="container">
    <h1 class="container__title">CHUCK NORRIS JOKES</h1>
    <p class="container__text">Select the type of jokes you want:</p>
    <div class="container__box">
        <div class="container__basic-btn"></div>
    </div>
</div>    

<div class="joke">
    <img class="joke__img" src="./assets/chuck.png" alt="Chuck Norris img">
    <p class="joke__text"></p>
</div>
</body>

*/

@font-face {
    font-family: 'Montserrat';
    src: url('/MWD/SESION 6/Chuck norris/assets/Montserrat/static/Montserrat-Medium.ttf');
}

body {
    margin: 0 auto;
    min-height: 100vh;
    font-size: 100%;
    max-width: 1440px;
    background: white;
    font-family: 'Montserrat', sans-serif;
  
  }

.container{
    margin: 20px ;
    width: 95%;
    display:flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &__title{
        font-size: 20px;
        font-weight: bold;
        width: 95%;
        background-color: #FFD0B3;
        color: #EF631A;
        padding: 25px 10px;
        margin: 15px 0 0 0 ;
        align-self: auto;
        max-width: 350px;
        text-align: center;
    }
    &__text{
        color: #000000;
        font-size: 18px;
        margin: 15px 0 15px 0;
        padding: 25px 10px;
        text-align: center;
    }
    &__box{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
    &__btn{
        width: 100%;
        color: #A0A0A0;
        font-size: 18px;
        margin: 5px;
        border: 1px solid #A0A0A0;
        padding: 20px;
    }
    &__btn--select{
        color: #000000;
        font-size: 18px;
        margin: 5px;
        border: 1px solid #EF631A;
        background-color:#FFD0B3;
        padding: 20px;
    }

    &__basic-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        margin: 10px;
        width: 100%;
        justify-content: center;
    }
    &__btn-send{
        width:40%;
        margin: 5px;
        padding: 10px;
        background-color: #FFD0B3;
        color: #ffffff;
        border: none;
    }
    &__btn-reset{
        width:40%;
        margin: 5px;
        padding: 10px;
        background-color: #FFF8F4;
        color: #FFD0B3;
        border: none;
    }
}

.joke{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #FFD0B3;
    &__text{
        font-size: 20px;
        color: #EF631A;
        padding: 10px;
        margin: 10px;
        text-align: center;
    }
    &__img{
        width: 240px;
        margin: 20px;
    }
}



$color1: #EF631A;
$color2: #FFD0B3;
$color3: #FFF8F4;
$color4: #ffffff;
$color5: #000000;
$color6: #A0A0A0;
$color7: #F5F5F5;


@media screen and (min-width:768px) and (max-width:1023px) {
    body {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        
    }
    .container{
        width: 100%;
        align-items: flex-start;
        &__box{
            width: 100%;
        }
        &__title{
            font-size:24px ;
            background-color: #ffffff;
            color: #000000;
            text-align: initial;

        }
        &__btn{
            width: 40%;
            padding: 20px;
            font-size:18px ;
            margin: 5px 10px;
        }
    }
    .joke{
        width: 350px;
    }
 
}



@media screen and (min-width:1024px) and (max-width:1279px) {
    body {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        
    }
    .container{
        width: 100%;
        align-items: flex-start;
        &__box{
            width: 100%;
            justify-content: flex-start;
        }
        &__title{
            font-size:24px ;
            background-color: #ffffff;
            color: #000000;
            text-align: initial;

        }
        &__btn{
            width: 30%;
            padding: 20px;
            font-size:18px ;
            margin: 5px 10px;
        }
    }
    .joke{
        width: 350px;
    }
 
}

@media screen and (min-width:1280px) {
    body {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-content: center;
        
    }
    .container{
        width: 100%;
        align-items: flex-start;
        &__box{
            width: 100%;
            justify-content: center;
        }
        &__title{
            font-size:24px ;
            background-color: #ffffff;
            color: #000000;
            text-align: initial;

        }
        &__btn{
            width: 20%;
            padding: 20px;
            font-size:18px ;
            margin: 5px 10px;
        }
    }
    .joke{
        width: 350px;
    }
 
}

