
/*
<body>
<div class="container">
    <h1 class="container__title">CHUCK NORRIS JOKES</h1>
    <p class="container__text">Select the type of jokes you want:</p>
    <div class="container__box">
        <div class="container__basic-btn"></div>
    </div>
</div>    

<div class="joke">
    <img class="joke__img" src="./assets/chuck.png" alt="Chuck Norris img">
    <p class="joke__text"></p>
</div>
</body>

*/

.container{
    margin: 50px auto;
    width: 95%;
    display:flex ;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &__title{
        font-size: 20px;
        width: 95%;
        background-color: #FFD0B3;
        color: #EF631A;
        padding: 50px 20px;
        margin: 50px 0 25px 0 ;
        align-self: auto;
        max-width: 350px;
        text-align: center;
    }
    &__text{
        color: #000000;
        font-size: 18px;
        margin: 25px 0 50px 0;
        text-align: center;
    }
    &__box{
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }
    &__btn{
        font-size: 18px;
        margin: 5px;
    }

    &__basic-btn{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
    }
}

.joke{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    &__img{
        width: 200px;
    }
}



$color1: #EF631A;
$color2: #FFD0B3;
$color3: #FFF8F4;
$color4: #ffffff;
$color5: #000000;
$color6: #A0A0A0;
$color7: #F5F5F5;